.pracitioner-image-circle{width: 40px; height: 40px; border-radius:25px;background-size:100%;}
.pracitioner-image-selection-circle{width: 25px; height: 25px; border-radius:25px;background-size:100%;}
.list-practitioner{background-color:#f4f4f4;padding:11px;height:450px;overflow-y: auto;}
.list-practitioner .tr-selection{cursor:pointer;}
.list-practitioner .tr-selection td{;}
.list-practitioner .tr-selection td:hover{color:#1e65a2}
.list-practitioner .list-unstyled  li .practitioner-item{padding-left:5px;font-size:.8em}
.selected-item { color: #ff6666;}
.left-pane-profile{padding-left: 27px;}
#pageloadingbounce{
    position: absolute;
    text-align: center;
    width: 100%;
    z-index:99999;
    background-attachment: local;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);}
.sk-spinner-three-bounce.sk-spinner {
    margin: 15% auto;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
}

.ibox-title{min-height: 37px;padding:9px 15px 7px;}
.row{  margin-left: 0px;
    margin-right: 0px;}
.wrapper {
    padding: 0px;
}